.card {
  border: 1px solid black;
  padding: 1em;
}

#nav {
  background-color: gold;
}

#Estimation {
  border: 1px solid goldenrod;
  padding: 1em;
  text-align: center;
  background-image: linear-gradient(to right, rgb(255, 215, 0), yellow);
}

#annual {
  color: #2f4f4f;
}
